.container[data-component~='logo'] .link {
  display: inline-block;
  line-height: 0; }
  .container[data-component~='logo'] .link:focus {
    padding: 0;
    background: transparent; }
  .container[data-component~='logo'] .link .image {
    height: 85px; }
