.container {
    &[data-component~='logo'] {
        .link {
            display: inline-block;
            line-height: 0;
            &:focus {
                padding: 0;
                background: transparent;
            }

            .image {
                height: 85px;
            }
        }

    }
}