@import 'assets/styles/utils/utils';

.container {
  &[data-component~='header'] {
    background: $color-red;
    @include setPropWithRemAndPx(map-get($grid, gutter), (padding-top, padding-bottom));
  
    .title {
      @include setPropWithRemAndPx(map-get($grid, gutter), margin-top);
      text-align: left;
      color: $color-white;
    }
  }
}