@import 'assets/styles/utils/utils';

.container {
    &[data-component~='navigation'] {
        ul {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            .navigation-item {
                list-style: none;
                text-align: center;
                
                .navigation-link {
                    display: block;
                    @include setPropWithRemAndPx(18px, font-size);
                    @include setPropWithRemAndPx(50px, line-height);
                    @include setPropWithRemAndPx(10px, (padding-left, padding-right));
                    font-weight: 400;
                    text-decoration: none;
                    color: #ffffff;
    
                    transition-property: font-weight, color;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
                    transition-delay: 0s;  
    
                    &:after {
                        display:block;
                        content:attr(data-nav-title);
                        font-weight:800;
                        height:1px;
                        color:transparent;
                        overflow:hidden;
                        visibility:hidden;  
                    }
    
                    &:hover {
                        font-weight: 800;
                        color: #0A0A0A;
                    }
    
                    &.is-active {
                        font-weight: 900;
                        color: #3A3939;
                    }
                }
            }
        }
    }
}