$color-white: rgba(255,255,255, 1);
$color-yellow: rgba(255,180,0, 1);
$color-blue: rgba(51,102,153, 1);
$color-green: rgba(5,114,0, 1);
$color-red: rgba(252, 0, 0, 1);
$color-grey: rgba(85,85,85, 1);
$color-black: rgba(15,15,15, 1);

$color-grey-transparent: rgba(0,0,0, 0.3);
$color-white-transparent: rgba(255,255,255, 0.2);
$color-white-transparent2: rgba(255,255,255, 0);
$color-yellow-transparent: rgba(255,180,0, 0.6);
$color-red-transparent: rgba(252, 0, 0, 0.6);


