$docFontSize: 16px;
$fontFamily: 'Lato', sans-serif;
$fontFamilyHeadings: 'Lato', sans-serif;

$heading: (
	h1: 26px,
	h2: 22px,
	h3: 18px,
	h4: 14px,
	h5: 14px,
	h6: 14px
);

$bodyTextFontSize: 16px;